<template name="appLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{#ionBody}}
    {{> ionNavBar class="bar-positive"}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}
    {{> _tabs}}
  {{/ionBody}}

</template>

<template name="_tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-dark tabs-color-light"}}
      {{> ionTab path="tabs.one" icon="android-home"}}
      {{> ionTab path="tabs.two" icon="android-search"}}
      {{> ionTab path="tabs.three" icon="heart"}}
      {{> ionTab path="tabs.four" icon="gear-b"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios" class="tabs-background-dark tabs-color-light"}}
      {{> ionTab path="home" iconOff="ios-home-outline" iconOn="ios-home-outline"}}
      {{> ionTab path="explore" iconOff="ios-search-strong" iconOn="ios-search-strong"}}
      {{> ionTab path="camera" class="js-take-photo" iconOff="ios-camera" iconOn="ios-camera"}}
      {{> ionTab path="activity" iconOff="chatbubble" iconOn="chatbubble"}}
      {{> ionTab path="profile" iconOff="person" iconOn="person"}}
    {{/ionTabs}}
  {{/if}}
</template>
