<template name="explore">
  {{#contentFor "headerTitle"}}
    <label class="item item-input explore-search">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="explore">
        {{#each photo}}
          <a href="{{pathFor 'photo'}}">
            <img src="{{url}}" alt="">
          </a>
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
