<template name="home">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Ionstagram</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='archive'}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList class="my-class"}}
        {{#each photo}}
          <div class="row">
            <img src="{{url}}" alt="">
          </div>
          <div class="row">
            {{likes}}
          </div>
          <div class="row">
            {{description}}
          </div>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
