<template name="activity">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Activty</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList class=""}}
        {{#each currentUser.followedUser}}
          {{#ionItem avatar=true}}
            <img src="{{profile.avatarUrl}}" alt="">
            You follow <a href="{{pathFor route='profile'}}">{{profile.username}}</a>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>
