<template name="comments">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Comments</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList class=""}}
        {{#with photo}}
          {{#ionItem avatar=true}}
            <img src="{{owner.profile.avatarUrl}}" alt="">
            <small class="pull-right">{{timeAgo}}</small>
            <a href="{{pathFor route='profile'}}">{{owner.profile.username}}</a>
            <p>{{description}}</p>
          {{/ionItem}}
        {{/with}}

        {{#each comment}}
          {{#ionItem avatar=true}}
            <img src="{{owner.profile.avatarUrl}}" alt="">
            <small class="pull-right">{{timeAgo}}</small>
            <a href="{{pathFor route='profile' data=data }}">{{owner.profile.username}}</a>
            <p>{{comment}}</p>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}

    {{/ionContent}}

    {{#ionFooterBar}}

      <label class="item-input-wrapper">
        <input type="text" placeholder="Add a comment...">
      </label>
      <button class="button button-small button-balanced" data-action="send">
        Send
      </button>

    {{/ionFooterBar}}
  {{/ionView}}
</template>
