<template name="profile">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{user.profile.username}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with user}}
        <div class="row">
          <div class="col col-33">
            <img class="avatar" src="{{profile.avatarUrl}}" alt="">
          </div>
          <div class="col col-center text-center">
            <div class="row">
              <div class="col">
                20 <br>
                posts
              </div>
              <div class="col">
                42 <br>
                followers
              </div>
              <div class="col">
                56 <br>
                following
              </div>
            </div>

            <div class="row">
              <div class="col">
                {{ > followButton }}
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col">
            <b>{{profile.name}}</b>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>{{profile.description}}</p>
          </div>
        </div>

      {{/with}}

      <div class="explore">
        {{#each photo}}
          <a href="{{pathFor 'photo'}}">
            <img src="{{url}}" alt="">
          </a>
        {{/each}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
